@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Inter', sans-serif;
}

@keyframes blink {
  0% {
    border-left-color: transparent;
  }
  50% {
    border-left-color: cyan;
  }
  100% {
    border-left-color: transparent;
  }
}

.blinking-cursor {
  border-left: 3px solid transparent;
  animation: blink 1s infinite;
}



.each-selection-item {
  opacity:25%
} 
.each-selection-item:hover{
  opacity: 100%;
}

.blur-div {
  filter: blur(5px);
  transition: filter 0.5s ease-in-out;
}

.overlay-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
